@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<img src="/logo.png" style="width: 150px;" border="1" />
<br />
<img src="/cache/211108_0636182/logo.png" style="width: 150px;" border="1" />